html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;

  font-family: "Azeret Mono", monospace;
}

#camera--trigger {
  height: 110px;
  width: 110px;
  border-radius: 100px;
  background-color: white;
  color: darkblue;
  cursor: pointer;
  font-weight: 600;
  font-size: 13.5px;
  padding: 0 10px;
  line-height: 50px;
  /* text-align: center; */

  /* text-decoration: none; */
  user-select: none;
  -webkit-user-select: none;
}

#photo--close,
#submit--trigger,
#none--detected {
  background-color: rgba(1, 1, 1, 0.75);
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 6px;
  font-weight: 550;
  line-height: 1.5;

  max-width: auto;

  color: white;
  text-align: center;
  border-radius: 80px;
  border: none;
  padding: 15px 20px;
  position: fixed;
}

#photo--close {
  min-height: 80px;
  min-width: 200px;
  top: 30px;
  left: 30px;
}

#submit--trigger {
  min-height: 80px;
  min-width: 220px;
  top: 30px;
  right: 30px;
}

#none--detected {
  color: yellow;
  min-width: 480px;
}

#camera--trigger,
#submit--trigger,
#photo--close {
  z-index: 10000;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.ui {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}

.camera--ui {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
}

#camera--view,
#camera--result,
#detections--canvas {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.flipped {
  transform: scaleX(-1);
  filter: FlipH;
}

.hidden {
  display: none;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  .ui {
    flex-direction: row;
    height: 200px;
    padding: 2rem;
  }
  .icon {
    width: 80px;
    height: 80px;
    filter: invert(100%);
  }
  #camera--trigger {
    width: 170px;
    height: 170px;
    border-radius: 170px;
  }
  .lds-grid {
    width: 400px;
    height: 400px;
  }

  #switch--camera {
    order: 3;
  }
  #camera--trigger,
  #submit--trigger {
    order: 2;
  }
  #gallery {
    order: 1;
  }
}

@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
  .ui {
    flex-direction: column;
  }
  #switch--camera {
    order: 1;
  }
  #camera--trigger,
  #submit--trigger {
    order: 2;
  }
  #gallery {
    order: 3;
  }
}
